$background: #f4f4f4;
$background-dark: #121212;
$neutral-10: #fff;
$neutral-20: #e0e0e0;
$neutral-30: #c0c0c0;
$neutral-40: #a0a0a0;
$neutral-50: #808080;
$neutral-60: #606060;
$neutral-70: #404040;
$neutral-80: #202020;
$neutral-90: #000;
$neutral-20-30: #e0e0e04d;
$neutral-60-30: #6060604d;
$text-white-30: #ffffff4d;
$text-white-60: #fff9;
$text-white-90: #ffffffe6;
$text-black-30: #0000004d;
$text-black-60: #00000098;
$text-black-90: #000000e6;
$theme-10: #1ed4b0;
$theme-20: #1bc3a2;
$theme-30: #19b194;
$theme-40: #16a085;
$theme-50: #148f77;
$theme-60: #127e69;
$theme-70: #0f6d5a;
$theme-80: #0d5b4c;
$theme-90: #0a4a3e;
$warning-10: #f6ebd9;
$warning-20: #edd7b3;
$warning-30: #e3c48d;
$warning-40: #dab067;
$warning-50: #d19c41;
$warning-60: #a77d34;
$warning-70: #7d5e27;
$warning-80: #543e1a;
$warning-90: #3f2f13;
$danger-10: #fdd9d7;
$danger-20: #fbb4af;
$danger-30: #f88e86;
$danger-40: #f6695e;
$danger-50: #f44336;
$danger-60: #c3362b;
$danger-70: #922820;
$danger-80: #621b16;
$danger-90: #491410;
