@use '../../styles/core' as core;

.switch {
  position: relative;
  width: 32px;
  height: 16px;
  display: inline-block;

  &__slider {
    position: absolute;
    border-radius: 16px;
    background-color: var(--custom__switch__slider__background-color, core.$color-neutral-50);
    cursor: pointer;
    inset: 0;
    transition: 0.4s;

    &::before {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--custom__switch__slider__dot__background-color, core.$color-neutral-10);
      content: '';
      left: 2px;
      bottom: 2px;
      transition: 0.4s;
    }

    &--read-only {
      background-color: var(--custom__switch__slider__background-color__disabled, core.$color-neutral-50);
      opacity: 0.3;
      cursor: default;

      &::before {
        background-color: var(--custom__switch__slider__dot__background-color__disabled, core.$color-text-white-30);
      }
    }
  }

  &__input[type='checkbox'] {
    visibility: hidden;
  }

  &__input[type='checkbox']:checked + &__slider {
    background-color: var(--custom__switch__slider__background-color__checked, core.$color-theme-50);
  }

  &__input[type='checkbox']:checked + &__slider::before {
    transform: translateX(16px);
  }

  @include core.media-desktop-up {
    width: 40px;
    height: 20px;

    &__slider {
      border-radius: 20px;

      &::before {
        width: 16px;
        height: 16px;
        left: 2px;
        bottom: 2px;
      }
    }

    &__input[type='checkbox']:checked + &__slider::before {
      transform: translateX(20px);
    }
  }
}
