@use '../../styles/core' as core;
@import 'react-alice-carousel/lib/scss/alice-carousel';

.alice-carousel__wrapper {
  max-height: 500px;

  img {
    max-height: 1000px;
  }
}

.header-slider {
  height: 100%;
  margin: 0;
  background-color: var(--custom__background-color, core.$color-neutral-10);

  &__img {
    width: 100%;
  }
}
