@use '../../styles/core' as core;

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto 4rem;

  @include core.media-tablet-up {
    width: 800px;
    flex-direction: row;
  }

  input[type='text'] {
    width: 250px;
    padding: 0.625rem;
    border-radius: 0;
    margin-bottom: 0.5rem;

    @include core.media-tablet-up {
      width: 350px;
      margin-bottom: 0;
    }
  }

  .button {
    margin: 0;
    border-radius: 0;
  }
}
