.roles-page {
  width: 100%;

  &__roles {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    flex-flow: row wrap;
    margin: 0 0 1rem;
  }

  .button {
    display: block;
    margin: auto;
  }
}
